#!/bin/sh
feh --bg-center /home/vadim/Pictures/wallpaper/ap-science-wallpaper.jpg
kdeconnect-indicator &
autorandr --change &
wmname LG3D &
dunst &
sxhkd &
picom &
volumeicon &
nm-applet &	
blueman-applet &
xset r rate 300 40 &
xsetwacom set "Wacom One by Wacom S Pen stylus" Rotate half &
mate-notificaion-daemon &
mate-power-manager &

#dbus-update-activation-enviroment --systemd DBUS_SESSION_BUS_ADDRESS DISPLAY XAUTHORITY & 


while true; do
   xsetroot -name "$( date +"%d/%m/%y %R" )"
   sleep 1m    # Update time every minute
done &
